<!DOCTYPE html>
<html lang="en">
<head>
{% include 'head.html' %}
<title>NewSchool{% block title %} {% endblock title %}</title>
</head>

<body>
    {% include 'navbar.html' %}

    {% block content %}
    
    {% endblock content %}

    <footer class="page-footer blue-grey darken-2">
        <div class="container">
            <div class="row">
                <div class="col s12 l6">
                    <h4>Leave us a message</h4>
                    <form action="" method="POST">{% csrf_token %}
                        {% block contact %}
                        {% endblock contact %}
                    </form>
                </div>
                {% include 'footer.html' %}
    </footer>

    {% include 'scripts.html' %}

</body>


</html>