{% extends 'base.html' %}
{% block title %} - Determiner{% endblock title %}
{% block content %}

    <section class="section container center" id="choose-level-section">
        <div class="row">
            <h2>NewSchool Registration Form</h2>
            <p class="grey-text">Alternatively you may call us @ 01824729374</p>
            <div class="col s12 input-field">
                <h4>Select Season:</h4>
                <form action="" method="POST">{% csrf_token %}
                    {{ form.season.errors }}
                    {{ form.season }}
                    <button type="submit" class="btn deep-orange darken-2" name="determiningphrase">Submit</button>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}



{% block contact %}


<div class="input-field">
    {{ contactform.name.errors }}
    {{ contactform.name }}
    <label for="{{ contactform.name.id_for_label }}">Your Name</label>
</div>
<div class="input-field">
    {{ contactform.email.errors }}
    {{ contactform.email }}
    <label for="{{ contactform.email.id_for_label }}">Your email address</label>
</div>
<div class="input-field">
    {{ contactform.message.errors }}
    {{ contactform.message }}
    <label for="{{ contactform.message.id_for_label }}">Your message</label>
    <button type="submit" class="btn deep-orange darken-2 waves-effect waves-light" name="contactphrase">Send</button>
</div>


{% endblock contact %}