<!----- Footer ----->
<footer class="page-footer blue-grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                <h4>Leave us a message</h4>
                <form action="">
                    <div class="input-field">
                        <input type="text" id="your-name" class="validate">
                        <label for="your-name">Your Name</label>
                    </div>
                    <div class="input-field">
                        <input type="email" id="email" class="validate">
                        <label for="email">Your email address</label>
                    </div>
                    <div class="input-field">
                        <textarea id="message" class="materialize-textarea"></textarea>
                        <label for="message">Your message</label>
                        <button type="submit" class="btn deep-orange darken-2 waves-effect waves-light">Send</button>
                    </div>
                </form>
            </div>
            <div class="col s12 l4 offset-l2">
                <div class="col s12">
                    <h4>Address</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Blanditiis esse aut cumque enim repellat quisquam!
                    </p>
                </div>
                <div class="col s12">
                    <h4>Let's get social</h4>
                    <a href="" class="grey-text"><p>Facebook</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue-grey darken-3">
        <div class="container center">
            &copy; 2020 Rafsun Al Mujib
        </div>
    </div>
</footer>
<!--x-- Footer -x--->