{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- banner section -->
    <section id="slider">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="{% static 'images/slider-1.jpg' %}" class="responsive-img low-bright" alt="">
                    <div class="caption left-align">
                        <h2>Lorem The Sh*t out!</h2>
                        <p>Corny lorem asdosij asdasdefr grgsdfdca sdqwqew eas asdasd asdefqesdqw adasda sda sd asdasdqwqeweq eq wdqweqweqwdasdqwd eqweqweqwedqs asdasdascacasd qweqweqwdeasd asdasdwd</p>
                    </div>
                </li>
                <li>
                    <img src="{% static 'images/slider-2.jpg' %}" class="responsive-img low-bright" alt="">
                    <div class="caption left-align">
                        <h2>Lorem The Sh*t out!</h2>
                        <p>Corny lorem asdosij asdasdefr grgsdfdca sdqwqew eas asdasd asdefqesdqw adasda sda sd asdasdqwqeweq eq wdqweqweqwdasdqwd eqweqweqwedqs asdasdascacasd qweqweqwdeasd asdasdwd</p>
                    </div>
                </li>
                <li>
                    <img src="{% static 'images/slider-3.jpg' %}" class="responsive-img low-bright" alt="">
                    <div class="caption left-align">
                        <h2>Lorem The Sh*t out!</h2>
                        <p>Corny lorem asdosij asdasdefr grgsdfdca sdqwqew eas asdasd asdefqesdqw adasda sda sd asdasdqwqeweq eq wdqweqweqwdasdqwd eqweqweqwedqs asdasdascacasd qweqweqwdeasd asdasdwd</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!---x- banner section --x-->
    
    <!----- specials section ----->
    <section id="specials">
        <div class="row">
            <div class="center col s12 l3 deep-orange darken-2 white-text specials-card">
                <i class="material-icons large white-text">build</i>
                <h4>Random Spec</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem illum dolorum ipsa. Eius, tempora ex!</p>
            </div>
            <div class="center col s12 l3 blue-grey darken-4 white-text specials-card">
                <i class="material-icons large white-text">person</i>
                <h4>Random Spec</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem illum dolorum ipsa. Eius, tempora ex!</p>
            </div>
            <div class="center col s12 l3 deep-orange darken-2 white-text specials-card">
                <i class="material-icons large white-text">shop</i>
                <h4>Random Spec</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem illum dolorum ipsa. Eius, tempora ex!</p>
            </div>
            <div class="center col s12 l3 blue-grey darken-4 white-text specials-card">
                <i class="material-icons large white-text">book</i>
                <h4>Random Spec</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem illum dolorum ipsa. Eius, tempora ex!</p>
            </div>
        </div>
    </section>
    <!---x- specials section --x-->

    <!----- features section ----->
    <section class="section container" id="features">
        <div class="row">
            <div class="col s12 l7">
                <h4>What We Offer</h4>
                <p class="grey-text text-darken-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quis repellendus in molestiae illo error maiores, 
                    doloremque temporibus placeat! Debitis neque consequuntur, ut nostrum quae odio.
                </p>
                <div class="col s12 l6" style="display: flex;">
                    <i class="material-icons large deep-orange-text text-darken-2 left">build</i>
                    <div class="feature-text">
                        <h5>Title</h5>
                        <p class="grey-text text-darken-2">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, modi!
                        </p>
                    </div>
                </div>
                <div class="col s12 l6" style="display: flex;">
                    <i class="material-icons large deep-orange-text text-darken-2 left">person</i>
                    <div class="feature-text">
                        <h5>Title</h5>
                        <p class="grey-text text-darken-2">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, modi!
                        </p>
                    </div>
                </div>
                <div class="col s12 l6" style="display: flex;">
                    <i class="material-icons large deep-orange-text text-darken-2 left">book</i>
                    <div class="feature-text">
                        <h5>Title</h5>
                        <p class="grey-text text-darken-2">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, modi!
                        </p>
                    </div>
                </div>
                <div class="col s12 l6" style="display: flex;">
                    <i class="material-icons large deep-orange-text text-darken-2 left">shop</i>
                    <div class="feature-text">
                        <h5>Title</h5>
                        <p class="grey-text text-darken-2">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, modi!
                        </p>
                    </div>
                </div>
                <div class="col s12 l6" style="display: flex;">
                    <i class="material-icons large deep-orange-text text-darken-2 left">shop</i>
                    <div class="feature-text">
                        <h5>Title</h5>
                        <p class="grey-text text-darken-2">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, modi!
                        </p>
                    </div>
                </div>
                <div class="col s12 l6" style="display: flex;">
                    <i class="material-icons large deep-orange-text text-darken-2 left">shop</i>
                    <div class="feature-text">
                        <h5>Title</h5>
                        <p class="grey-text text-darken-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, modi!</p>
                    </div>
                </div>
            </div>
            <div class="col l5 hide-on-med-and-down">
                <img src="{% static 'images/feature.jpg' %}" class="responsive-img material-box" alt="">
            </div>
        </div>
    </section>
    <!--x-- features section --x-->

    <!----- stats section ----->
    <section class="parallax-container" id="stats">
        <div class="container center white-text">
            <h2 class="white-text">NewSchool</h2>
            <div class="row">
                <div class="col s12 m4">
                    <h4>Courses</h4>
                    <h5 class="counter">{{ total_subjects }}</h5>
                </div>
                <div class="col s12 m4">
                    <h4>Teachers</h4>
                    <h5 class="counter">{{ total_teachers }}</h5>
                </div>
                <div class="col s12 m4">
                    <h4>Enrollments</h4>
                    <h5 class="counter">{{ total_enrollments }}</h5>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="{% static 'images/parallax.jpg' %}" class='low-bright' alt="">
        </div>
    </section>
    <!--x-- stats section -x--->


    <!----- courses section ----->
    <section class="section container">
        <div class="row">
            <div class="col s12 center">
                <h2>Currently Running Courses</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo similique ab obcaecati provident, esse reprehenderit magnam quaerat. Nostrum dolore aut fugiat odit quisquam, nemo blanditiis corrupti quia commodi? Aliquid, modi.</p>
            </div>
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a class="deep-orange-text text-darken-2" href="#o-levels">CAIE O LEVELS</a></li>
                    <li class="tab col s6"><a class="deep-orange-text text-darken-2" href="#a-levels">CAIE AS/A2 LEVELS</a></li>
                </ul>
            </div>

            <div class="col s12" id="o-levels">
                {% for subject in o_level %}
                <div class="col s12 l4 info-card">
                    <div class="img-container">
                        <img src="{{ subject.subject_img.url }}" class="responsive-img course-img" alt="">
                    </div>
                    <span class="available-seats right grey-text text-darken-4"><i class="material-icons tiny">person</i>{{ subject.total_seats }} seats</span>
                    <div class="text-container">
                        <h4>{{ subject.subject_name }}</h4>
                        <h5>Mentor: {{ subject.teacher_name }}</h5>
                        <p>{{ subject.subject_details }}</p>
                    </div>
                    <div class="action-container">
                        {% if subject.total_seats == 0 %}
                        <a href="" class="btn waves-effect waves-light blue-grey darken-4 disabled">Enroll</a>
                        {% else %}
                        <a href="{% url 'management_app:determining-page' %}" class="btn waves-effect waves-light blue-grey darken-4">Enroll</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col s12" id="a-levels">
                {% for subject in a_level %}
                <div class="col s12 l4 info-card">
                    <div class="img-container">
                        <img src="{{ subject.subject_img.url }}" class="responsive-img course-img" alt="">
                    </div>
                    <span class="available-seats right grey-text text-darken-4"><i class="material-icons tiny">person</i>{{ subject.total_seats }} seats</span>
                    <div class="text-container">
                        <h4>{{ subject.subject_name }}</h4>
                        <h5>Mentor: {{ subject.teacher_name }}</h5>
                        <p>{{ subject.subject_details }}</p>
                    </div>
                    <div class="action-container">
                        {% if subject.total_seats == 0 %}
                        <a href="" class="btn waves-effect waves-light blue-grey darken-4 disabled">Enroll</a>
                        {% else %}
                        <a href="{% url 'management_app:determining-page' %}" class="btn waves-effect waves-light blue-grey darken-4">Enroll</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--x-- courses section --x-->

    <!----- admission-section ----->
    <section class="parallax-container" id="stats">
        <div class="container center white-text">
            <h2>Admission window for the latest batch 2021 is open now</h2>
            <h4>For both<span class="deep-orange-text text-darken-2"> O & A level</span> students</h4>
            <a href="{% url 'management_app:determining-page' %}" class="btn deep-orange darken-2 btn-large waves-effect">Apply now</a>            
        </div>
        <div class="parallax">
            <img src="{% static 'images/parallax-2.jpg' %}" class='low-bright' alt="">
        </div>
    </section>
    <!---x- admission-section -x--->

    <!----- Gallery section ----->
    <section class="section" id="gallery-section">
        <div class="row">
            <h2 class="center">Photo Gallery</h2>
            <div class="col s12 l3">
                <img src="{% static 'images/slider-1.jpg' %}" class="responsive-img material-box" alt="">
            </div>
            <div class="col s12 l3">
                <img src="{% static 'images/slider-3.jpg' %}" class="responsive-img material-box" alt="">
            </div>
            <div class="col s12 l3">
                <img src="{% static 'images/slider-2.jpg' %}" class="responsive-img material-box" alt="">
            </div>
            <div class="col s12 l3">
                <img src="{% static 'images/parallax.jpg' %}" class="responsive-img material-box" alt="">
            </div>
        </div>
    </section>
    <!---x- Gallery section --x-->
{% endblock content %}

{% block contact %}


<div class="input-field">
    {{ contactform.name.errors }}
    {{ contactform.name }}
    <label for="{{ contactform.name.id_for_label }}">Your Name</label>
</div>
<div class="input-field">
    {{ contactform.email.errors }}
    {{ contactform.email }}
    <label for="{{ contactform.email.id_for_label }}">Your email address</label>
</div>
<div class="input-field">
    {{ contactform.message.errors }}
    {{ contactform.message }}
    <label for="{{ contactform.message.id_for_label }}">Your message</label>
    <button type="submit" class="btn deep-orange darken-2 waves-effect waves-light" name="contactphrase">Send</button>
</div>


{% endblock contact %}