{% load static %}
<header>
    <!----- navbar ----->
    <nav class="deep-orange darken-2">
        <div class="nav-wrapper container">
            <a href="" data-target='mobile-nav' class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <a class="brand-logo" href="{% url 'management_app:home-page' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
            <ul class="hide-on-med-and-down right nav-links">
                <li><a href="{% url 'management_app:home-page' %}">Home</a></li>
                <li><a href="{% url 'management_app:determining-page' %}">Admission</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-nav"> <!---- mobile navbar ---->
        <li><a href="{% url 'management_app:home-page' %}">Home</a></li>
        <li><a href="{% url 'management_app:determining-page' %}">Admission</a></li>
    </ul>
    <!--x-- navbar --x-->
</header>